<style>
body{
    font-family: Arial;
    background-color: white;
}
h1{
    text-align: center;
    color: blueviolet;
}
h2{
    text-align: center;
    color: darkblue;
}
.greet{
    text-align: center;
    font-size: 20px;
    color: green;
    font-weight: bold;
}
.box{
    width: 450px;
    margin: 20px auto;
    padding: 25px;
    border: 5px solid black;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 12px;
}
label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input, select{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid black;
}
input[type="submit"]{
    width: auto;
    margin-top: 15px;
    background-color: white;
    color: green;
    border: 3px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 20px;
}
input[type="submit"]:hover{
    background-color: blue;
    color: white;
}
table{
    width: 75%;
    margin: auto;
    border-collapse: collapse;
    display: none;
}
th, td{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}
th{
    background-color: green;
    color: white;
}
tr:hover{
    background-color: lightgray;
}
.message{
    text-align: center;
    font-weight: bold;
    color: red;
}
</style>
